/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-weight: normal;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Lato, Arial, sans-serif;
  color: #f2d0aa;
  text-align: center;
}

header {
  background-image: url(img/twilight-tree.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  font-family: "Cinzel Decorative", Lato, Arial, sans-serif;
  position: relative;
}

header h1{
  position: absolute;
  width: 100%;
}

header h2{
  position: absolute;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: inherit;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: border-bottom-color 1s ease;
}

nav a:hover {
  border-bottom-color: #f2d0aa;
}

main {
  background: linear-gradient(
    -5deg,
    #040404,
    #3a1526,
    30%,
    #321d42,
    80%,
    #040404
  );
}

main section {
  background: rgba(0, 0, 0, 0.05);
}

main section h3 {
  font-family: "Cinzel Decorative", Lato, Arial, sans-serif;
}

main section a {
  color: inherit;
  font-size: inherit;
}

.img-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
}

.one {
  background-image: url(./img/gallery/20210130_121739.jpg);
}

.two {
  background-image: url(./img/gallery/20210201_125335.jpg);
}

.three {
  background-image: url(./img/gallery/20210205_122823.jpg);
}

.four {
  background-image: url(./img/gallery/bookcompletewitchcraft.jpg);
}

.five {
  background-image: url(./img/gallery/bookscottishwitchcraft.jpg);
}

.six {
  background-image: url(./img/gallery/crystalballs.gif);
}

.seven {
  background-image: url(./img/gallery/goodearthbathbombs2.jpg);
}

.eight {
  background-image: url(./img/gallery/goodearthsoaplemongrasslavender.jpeg);
}

.nine {
  background-image: url(./img/gallery/seawitchincense.png);
}

.ten {
  background-image: url(./img/gallery/sunseyeoils1.jpg);
}

.eleven {
  background-image: url(./img/gallery/sunseyepalo-santo-wood.jpg);
}

.twelve {
  background-image: url(./img/gallery/werewolfcandleholder.jpg);
}

.facebook img,
  .instagram img {
    width: 40px;
  }
  
  .instagram img {
    margin-left: 3%;
  }

#contact button:hover {
  cursor: pointer;
}

#about {
  text-align: left;
}

footer {
  background-color: #0c0306;
}

/* Desktop and Landscape Tablet */
@media (min-width: 1024px) {
  header {
    width: 100vw;
    height: 100vh;
  }
  
  header h1 {
    font-size: 6rem;
    letter-spacing: 2rem;
    top: 15%;
  }
  
  header h2 {
    font-size: 3rem;
    letter-spacing: 0.8rem;
    bottom: 12%;
  }
  
  header nav {
    position: absolute;
    width: 100%;
    bottom: 1%;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a {
    color: inherit;
    border-bottom: 2px solid transparent;
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: 0.3rem;
  }
  
  main {
    display: grid;
    grid-template:
      "featured featured contact" auto
      "about events events" auto
      / 1fr 1fr 1fr;
    grid-gap: 5%;
    padding: 5% 5% 10% 5%;
  }
  
  main section {
    font-size: 2rem;
    min-height: 50vh;
  }
  
  main section h3 {
    letter-spacing: 0.3rem;
    margin-top: 2vh;
    font-size: 2rem;
  }
  
  #contact iframe {
    margin: 5% 0%;
  }
  
  .gallery {
    margin: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .img-container {
    height: 250px;
    width: 300px;
    margin: 2% 0;
  }
  
  #featured{
    grid-area: featured;
  }

  #contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  #contact h4 {
    margin-bottom: 1%;
    margin-top: 10%;
    font-size: 2rem;
  }
  
  .contact-info {
    padding-bottom: 20%;
  }
  
  #about {
    grid-area: about;
    padding: 5%;
  }
  
  #about p {
    margin: 3% 0;
    font-size: 2rem;
  }
  
  #about h3 {
    margin-bottom: 10%;
  }

  #events{
    grid-area: events;
  }
  
  footer {
    position: relative;
    padding: 15% 0 2% 0;
  }
  
  footer nav {
    position: absolute;
    top: 35%;
    width: 100%;
  }
  
  footer p {
    line-height: 2rem;
  }
}

/* Landscape Mobile and Portrait Tablet */


/* Portrait Mobile */
@media (max-width: 420px) {
  header {
    background-size: cover;
    height: 100vh;
  }
  
  header h1{
    font-size: 3rem;
    letter-spacing: 0.4rem;
    top: 27%;
  }

  header h2{
    bottom: 8%;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }

  header nav {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), 90%, rgba(0, 0, 0, 0));
    width: 100%;
    line-height: 5rem;
    border-bottom-color: inherit;
    padding: 5% 5% 20% 5%;
  }

  header ul{
    columns: 2;
    --webkit-columns: 2;
    --moz-columns: 2;
    width: 100%;
  }

  header a{
    font-size: 1.3rem;
  }

  main{

  }

  main section{
    min-height: 50vh;
    padding-bottom: 20%;
  }
}